secrets.yaml
*.log
*.xml
*.db
*.sqlite
.storage/
OZW_Log.txt
known_devices.yaml
.cloud/
.automatic/
.ip_authenticated.yaml
._.DS_Store
.DS_Store
zigbee2mqtt/log/
*.log.*
govee_learning.yaml
ip_bans.yaml
zigbee2mqtt/state.json
zigbee2mqtt/secret.yaml
www/nv.png
pyscript/*.py
shell/*.sh