---
homeassistant:
  auth_providers:
    - type: homeassistant

http:
  ssl_certificate: !secret ssl_crt
  ssl_key: !secret ssl_key
  ip_ban_enabled: true
  login_attempts_threshold: 10
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.2.1.0/24

# default_config:
automation: !include automations.yaml
# backup:
bluetooth:
cloud:
config:
conversation:
counter:
dhcp:
# energy:
frontend:
  themes: !include_dir_merge_named themes
hardware:
history:
homeassistant_alerts:
image_upload:
input_boolean:
input_button:
input_datetime:
input_number:
input_select:
input_text:
logbook:
logger:
  default: info
# map:
media_source:
mobile_app:
my:
person:
schedule:
scene: !include scenes.yaml
script: !include scripts.yaml
ssdp:
stream:
sun:
system_health:
tag:
timer:
usb:
webhook:
zeroconf:
zone:

recorder:
  db_url: !secret mysql
  purge_keep_days: 15
  exclude:
    domains:
      - automation
      - group
      - climate
      - camera
      - remote
      - sun
      - weather
      - update
      - image
      - image_processing
# image_processing: !include image_processing.yaml
